body {
	background: black;
	font-family: "Merienda", cursive;
}

p {
	color: black;
	font-size: 13px;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	padding: 10px;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 100%;
	margin: 0%;
	padding-top: 5px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px grey solid;
	font-family: "Merienda", cursive;
}
.postcard-footer {
	text-align: center;
}

button {
	background-color: rgb(218, 218, 218);
	padding: 5px 10px;
	border: none;
	font-family: "Merienda", cursive;
}
